{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} :  {{ controller_name }}{% endblock %}

{% block body %}

    <div class="page-top w-100">
        <div class="page-top--leftimage"></div>
        <div class="page-top--content">
            <h1>Découvrez les artisans proches de chez-vous</h1>
            <span>Chacun a son savoir faire, sur {{ site_name }} vous trouverez celui qui vous correspond</span>
            <form action="/search" class="bdr-10">
                <select name="category" id="category-select">
                    <option value="">Métier</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="city" placeholder="Ville" required>
                <button type="submit" class="bdr-10">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="page-top--boxinfo">
        <div class="page-top--boxinfo--content">
        <span>
            <i class="fi-rr-location-alt"></i>
            Des artisans près de chez-vous
        </span>
            <hr>
        <span>
            <i class="fi-rr-calendar"></i>
            Prise de rendez-vous rapide
        </span>
            <hr>
        <span>
            <i class="fi-rr-following"></i>
            Commentaires d'autres utilisateurs
        </span>
        </div>
    </div>

    <div class="page-content">

    <div class="home-user-info">

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/80x80-6-100x100.png" alt="Icone">
            <h3>Recherchez</h3>
            <span>Sélectionnez un ou plusieurs artisans selon <strong>vos critères</strong> et mémorisez vos recherches.</span>
        </div>

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/80x80-2-100x100.png" alt="Icone">
            <h3>Réservez</h3>
            <span>À domicile ou chez l’artisan , pour une personne ou plusieurs, <strong>gagnez du temps</strong> dans votre quotidien.</span>
        </div>

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/Ma-page-cr%C3%A9ation-100x100.png" alt="Icone">
            <h3>Evaluez</h3>
            <span><strong>Evaluez et commentez</strong> la prestation du professionnel afin d’enrichir la communauté.</span>
        </div>

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/80x80-5-3-100x100.png" alt="Icone">
            <h3>Les tarifs</h3>
            <span>Pas de surprise, les tarifs de chaque professionnel sont affichés. Paiement au professionnel <strong>en direct.</strong></span>
        </div>

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/80x80-4-1-100x100.png" alt="Icone">
            <h3>Favoris</h3>
            <span>Ajoutez vos artisans préférés à la liste de vos favoris et retrouvez les <strong>en un clic</strong> depuis votre compte client.</span>
        </div>

        <div class="user-info-box">
            <img src="https://www.art-iste.com/wp-content/uploads/2020/05/80x80-3-1-100x100.png" alt="Icone">
            <h3>24h/7j</h3>
            <span>Comme vos envies n'ont pas d’heures. Envoyez votre demande de rendez-vous <strong>quand vous en avez envie.</strong></span>
        </div>



    </div>

    </div>

    <div class="page-top biginfo w-100">
        <div class="biginfo--content">
            <h1>Vous êtes un professionnel ?</h1>
            <span>En créant votre page sur Art-iste, vous obtiendrez un meilleur référencement au niveau local et une plus grande visibilité grâce au partage de celle-ci sur vos réseaux sociaux et de votre présence sur notre site.</span>
            <a href="{{ path('info_pro') }}">Découvrir l'offre</a>
        </div>
    </div>

    <div class="page-content">
        <div class="home-news-list">
        <h1>Nos derniers articles</h1>
        {% for article in articles|reverse %}
            <div class="article-box w-100 bdr-10" style="background-image: url('{{ article.image }}')" onclick="location.href='/article-{{ article.id }}'">
                <h1>{{ article.title }}</h1>
            </div>

        {% endfor %}
        </div>

    </div>
{% endblock %}
