{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

{% endblock %}

{% block body %}

    <div class="page-top w-100" style="height: 300px">
        <div class="page-top--leftimage"></div>
        <div class="page-top--content">
            <h1>Paramètres</h1>
        </div>
    </div>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="settings-content">

        <div class="settings-menu">

            {% for artisan in app.user.getArtisans %}

            <h4 style="margin-bottom: 20px">Ma vitrine ({{ artisan.vitrineName }})</h4>

            <ul class="nav flex-column">

                <h5>Paramètres généraux</h5>

                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('artisan_general_settings',{'id':artisan.id}) }}">Genéral</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistiques</a>
                </li>

                <h5>Book photo </h5>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book_add_photos',{'id': artisan.id}) }}">Ajouter une photo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_book_photo',{'id': artisan.id}) }}">Voir mes photos</a>
                </li>
            </ul>

            {% endfor %}


        </div>

        {% block settingsspace %}

        {% endblock %}


    </div>



{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

{% endblock %}