{% block header %}

    <header>

        <img src="https://www.art-iste.com/wp-content/uploads/2020/04/150x150_noir-300x52.png" class="logo" alt="Mes artisans beauté logo" onclick="location.href= '/'">
        <div class="user-space">
            <a href="{{ path('info_pro') }}">Professionnels</a>
            {% if app.user %}
                <a href="#"><i class="fi-rr-star"></i>Mes favoris</a>
                <a href="#" class="user-submenuopen"><i class="fi-rr-user"></i>{{ app.user.firstName }}</a>
                    <div class="user-submenu">
                        <ul>
                            <li><a href=""><i class="fi-rr-id-badge"></i>Mon compte</a></li>
                            {% for artisan in app.user.getArtisans %}
                                <li><a href="{{ path('show_artisan',{'id':artisan.id}) }}"><i class="fi-rr-apps"></i>Ma vitrine <strong>{{ artisan.vitrineName }}</strong></a></li>
                                <li><a href="{{ path('artisan_general_settings',{'id':artisan.id}) }}"><i class="fi-rr-barber-shop"></i> Paramètres de <strong>{{ artisan.vitrineName }}</strong></a></li>
                            {% endfor %}
                            <li><a href="{{ path('app_logout') }}"><i class="fi-rr-power"></i>Déconnexion</a></li>
                        </ul>
                    </div>

                {% else %}
                    <a href="{{ path('register') }}"><i class="fi-rr-user-add"></i>S'inscrire</a>
                    <a href="{{ path('app_login') }}"><i class="fi-rr-user"></i>Se connecter</a>
            {% endif %}
        </div>


    </header>



{% endblock %}